@import "tailwindcss";


body,
html {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f4f8;
  color: #2c3e50;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}


.btn-blue {
  @apply px-6 py-2.5 bg-sky-500 text-white font-semibold rounded-lg shadow-md transition-all duration-300 ease-in-out transform hover:bg-sky-600 hover:shadow-lg hover:-translate-y-0.5 hover:scale-105 active:scale-95 cursor-pointer;
}


.btn-yellow {
  @apply px-6 py-2.5 bg-yellow-500 text-white font-semibold rounded-lg shadow-md transition-all duration-300 ease-in-out transform hover:bg-yellow-600 hover:shadow-lg hover:-translate-y-0.5 hover:scale-105 active:scale-95 cursor-pointer;
}

.btn-violet {
  @apply px-6 py-2.5 bg-violet-500 text-white font-semibold rounded-lg shadow-md transition-all duration-300 ease-in-out transform hover:bg-violet-600 hover:shadow-lg hover:-translate-y-0.5 hover:scale-105 active:scale-95 cursor-pointer;
}

.btn-sky {
  @apply px-6 py-2.5 bg-sky-500 text-white font-semibold rounded-lg shadow-md transition-all duration-300 ease-in-out transform hover:bg-sky-600 hover:shadow-lg hover:-translate-y-0.5 hover:scale-105 active:scale-95 cursor-pointer;
}

.card {
  @apply rounded-lg shadow-lg border-sky-100 bg-sky-50;
}


a {
  @apply text-blue-500 hover:underline no-underline;
}


.bg-sky-gradient-customized {
  @apply bg-gradient-to-b from-sky-200 to-sky-400;
}

/* PDP ANIMATION */

.box {
  position: relative;
  overflow: hidden !important;
  border-radius: 8px;
  width: 317px;
  height: auto;
  background: #000;
  z-index: 1;
  box-sizing: border-box
}

.box .randy-img {
  width: 305px !important
}

.box::after,
.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 350px;
  height: 450px;
  transform-origin: bottom right
}

.box::before {
  background: linear-gradient(0deg, transparent, transparent, #1cac99fd, #939797, #1b9988);
  z-index: 0;
  animation: 6s linear infinite animate
}

.box::after {
  background: linear-gradient(0deg, transparent, transparent, #56435f, #811a9b, #9108a379);
  z-index: -1;
  animation: 6s linear -3s infinite animate
}

img {
  position: relative;
  width: 300px;
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  filter: grayscale(100%) brightness(0.9);
}

@keyframes animate {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}


/* ----------------------------------------------------------------------------------------------------- */

.click-me {
  display: inline-block;
  animation: pulse 3s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

/* GOBAL ANIMATION */
/* ----------------------------------------------------------------------------------------------------- */
.animated-gradient-text {
  background: linear-gradient(90deg, #facc15, #f87171, #3b82f6, #10b981, #facc15);
  background-size: 300% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-move 5s ease infinite;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* -------------------------------------------------------------------------------------------------------- */

.emoji {
  display: inline-block;
  animation: rotateEmoji 2s infinite alternate ease-in-out;
}

@keyframes rotateEmoji {
  0% {
    transform: rotate(0deg) translateY(0);
  }

  50% {
    transform: rotate(15deg) translateY(-10px);
  }

  100% {
    transform: rotate(-15deg) translateY(0);
  }
}

/* -------------------------------------------------------------------------------------------------------- */

.decoration {
  text-decoration: none !important;
}

/* QUALITY VIEWS CSS */
.section-anime {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  width: 200%;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 100px;
  box-sizing: border-box;
  animation: 90s linear infinite scroll;
}

.wrapper .col-md-3 {
  background-color: #2ca9ad07;
  border: 1px solid #3333;
  border-radius: 10px;
  font-weight: 300;
  color: #1e2d3c;
  min-height: 200px;
  height: auto !important;
}

.wrapper h4 {
  font-weight: 600;
  color: #1e2d3c;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 1400px) {
  .wrapper {
    display: flex;
    animation: 90s linear infinite scroll;
  }

  .wrapper .col-md-3 {
    font-size: small;
    border: none;
    box-shadow: 1px 2px 25px 1px rgba(48, 46, 46, 0.129);
    border-radius: 10px;
    transform: scale(1.1);
    padding: 100px;
    flex: 0 0 30%;
  }

  .wrapper .col-md-2 {
    font-size: small;
  }

  .wrapper .col-md-2 .logo {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 1400px) {
  .wrapper {
    display: flex;
    animation: 90s linear infinite scroll;
  }

  .wrapper .col-md-3 {
    font-size: small;
    border: none;
    box-shadow: 1px 2px 25px 1px rgba(48, 46, 46, 0.129);
    border-radius: 10px;
    transform: scale(1.05);
    padding: 40px;
    flex: 0 0 30%;
  }

  .wrapper .col-md-2 {
    font-size: small;
  }

  .wrapper .col-md-2 .logo {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 748px) {
  .wrapper {
    display: flex;
    flex-direction: column !important;
    width: 100% !important;
    animation: none;
    padding: 20px !important;
  }

  .wrapper .col-md-3 {
    font-size: 10px !important;
    border: none;
    box-shadow: 1px 2px 25px 1px rgba(48, 46, 46, 0.129);
    border-radius: 10px;
    transform: scale(1.05);
    padding: 10px !important;
    animation: none !important;
    margin-bottom: 20px !important;
    align-items: center !important;
  }
}


/* GLOBAL MEDIA QUERIS */
@media only screen and (max-width: 768px) {
  .aos-animate {

    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;

    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;

    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}